@import url('https://fonts.googleapis.com/css?family=Megrim|Raleway');

header {
  font-family: 'Megrim', cursive;
  background-color: rgba(162, 242, 210, 0.5);
  padding: 20px;
}

#logo {
  font-size: 36px;
  font-weight: bold;
}

.header-right {
  float:right;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
  margin-top: 10px;
}

body {
  font-family: 'Raleway', sans-serif;
}

.mainpic {
  padding-left: 10%;
}

.mainplant{
  width: 40%;
}

#mainplant {
  box-sizing: border-box;
  width: 100%;
}

.name {
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

.price {
  text-align: center;
  font-style: normal;
}

#careinfo {
  position: absolute;
  top: 150px;
  right: 30px;
  width: 30%;
  border: 3px solid #f5f5f5;
  text-align: left;
  margin-right: 5%;
}

th {
  font-weight: lighter;
  padding: 3px;
}

tr:hover {
  background-color: #f5f5f5;
}

caption {
  font-family: 'Megrim', cursive;
  font-weight: bold;
  background-color: rgba(162, 242, 210, 0.5);
  padding: 10px;
}

.secondarypics {
  border-top: 5px solid rgba(162, 242, 210, 0.5);
  border-bottom: 5px solid rgba(162, 242, 210, 0.5);
  text-align: center;
  background-color: white;
  box-sizing: border-box;
}

.smallpics {
 float: left;
}

.small {
  width: 240px;
  height: 240px;
  border: 2px solid #f5f5f5;
  margin-left: 10px;
}

footer, .similarstrip {
  font-family: 'Megrim', cursive;
  background-color: rgba(162, 242, 210, 0.5);
  padding: 20px;
}

.similarstrip {
  font-size: 30px;
  font-weight: bold;
}

.coverflow {
  overflow: auto;
}
