@import url('https://fonts.googleapis.com/css?family=Megrim|Raleway');

header {
  font-family: 'Megrim', cursive;
  background-color: rgba(162, 242, 210, 0.5);
  padding: 20px;
}

#logo {
  font-size: 36px;
  font-weight: bold;
}

.header-right {
  float:right;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
  margin-top: 10px;
}

body {
  font-family: 'Raleway', sans-serif;
}

main {
  position: relative;
}

.mainpic {
  position: relative;
  padding-left: 10%;
}

.mainplant{
  position: absolute;
  width: 50%;

}
#mainplant {
  width: 100%;
}

#scientificname {
  font-style: italic;
text-align: center;
}

#careinfo {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}

.smallpics {
  position: relative;
}

footer {
  position: relative;
}
